.navbar {
  display: flex;
  justify-content: space-between;
 }
 
 .nav-one {
  background-color:cadetblue;
  overflow: hidden;
 }
 
 .nav-one a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
 }
 
 .nav-one a:hover {
  background-color: #ddd;
  color: black;
 }
 
 .nav-two {
  background-color:cadetblue;
  overflow: hidden;
 }
 
 .nav-two a {
  float: right;
  display: block;
  color: whitesmoke;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
 }
 .nav-two a:hover {
  background-color: #ddd;
  color: black;
 }
.div-container {
position:abolsute;
background-repeat: no-repeat;

}