*{
    font-family: 'popins',sans-serif;
    margin:0; padding:0;
    box-sizing:border-box;
    outline:none; 
    text-decoration: none;
}
.container{
    min-height:100vh;
    display:flex;
    align-items:center;
    justify-content: center;
    padding:20px;
    padding-bottom:20px;
}
.container .content{
    text-align: center;
}
nav{
    text-align: right;
    padding:10px;
    border:3px solid black;
    text-decoration: none;
    background-color:
}